*{
      padding: 0;
      margin: 0 ;
      font-family: 'Noto Sans TC', sans-serif;
      letter-spacing: 1px;
      line-height: 36px;
      box-sizing: border-box;
      
      
    }
       

    #wrap{
      background-color: rgb(245, 245, 245); 
      padding: 50px; 
      
      
    }
    .protect{      
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 100px;
      position: fixed;
      right: 0px;
      bottom: 30px;
      color: rgb(49, 49, 114);
      background-color: rgb(212, 230, 210);
      border-radius: 50px 0px 0px 50px;
    }
    .attention{
      color: rgb(212, 26, 26);
      margin-top: 100px;
      text-align: center;
      font-size: 22px;
      animation-duration: 2s;
      animation-name: showup;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
   @keyframes showup{
    from {
      font-size: 19px;
    }
  
    to {
      font-size: 21px;
    }

   }

    mark{
      background-color: rgb(250, 252, 162);
    }

    

    .smallTitle{         
      margin: 50px 10px;               
      color: peru;
      width: 100%;
      border-bottom: 7px double peru;       
      padding-top: 30px;
      margin: 50px auto;    
              
    }
    
    
    .copyArea{        
      display:flex;
      justify-content: center; 
      max-width: 800px;      
    }
    .introBox{
      display: flex;
    }

    .intro{             
      margin-top: 10px;  
      padding: 20px;    
      font-size: 18px; 
      line-height: 33px; 
      width: 50%; 
      border: 1px solid rgb(212, 192, 192);     
    }

    .introBox .intro:last-child{
      border-left: none;
    }

    .intro::before{
      margin-bottom: 20px;
      content: '效果';
      display: block;
      left:-70px;        
      color: rgb(54, 54, 150);
      font-style: italic;        
      background-color: rgb(225, 236, 236);  
      width: 100%;
      text-align: center;       

    }
    .group{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 800px;
      margin: 130px auto;
    }
    .group .intro:nth-child(even)::before{
      content: '步驟';        
      background-color: rgb(236, 205, 146);  

    }

    .header{
      top:0px;
      display: flex;
      height: 60px;
      width: 100%;
      background-color: rgb(98, 107, 136);
      position: fixed;
      z-index: 2;
    }

    #show{
      border-bottom:1px dashed rgb(100, 159, 196);
      color: rgb(100, 159, 196); 
      background-color: beige;
      font-size: 18px;     
      text-align: center;
      width: 100%;
      position: fixed;
      top:60px;
      

    }

    .menu{
      margin: 0 auto;
      display: inline-flex;
      list-style: none;
      font-size: 24px;
      
      
    }
    .menu a{
        color: #fff;
        text-decoration: none;
    }
    .menu>li{       
      display: block;
      width: 150px;
      text-align: center;
      color: rgb(255, 255, 255);
      line-height: 60px;       
    }
    .menu li+li{
      border-left: 1px solid #fff;        
    }
   

    .content{
      line-height: 28px;
      font-size: 16px;
      padding: 5px;
      overflow: hidden;
      float: left;        
      resize: none;
      border: none;
      width: 710px;      
      background-color: rgb(255, 241, 232);
      border-left:5px solid lightcoral;
    }
    .copyBtn{             
      border: none;
      font-size: 28px;
      height:155px;
      width: 100px;
      background-color: rgb(67, 114, 117);
      color: mintcream;
      border-radius: 0px 10px 10px 0px;

    }
     
    .sampleBtn{
      line-height: 50px;
      background-color: rgb(29, 125, 170);
      width: 180px;
      color: rgb(255, 255, 255);
      text-align: center;
      font-size: 22px;
      margin: 50px auto 0px;
      border-radius: 30px;
    }
    .yummy{
      background-color: rgb(233, 240, 243);
      margin: 0 auto;
      padding-bottom: 30px;
      padding-top:1px;
      max-width: 800px;
      width: 100%; 
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;       

    }

