 @charset "utf-8";
/* CSS Document */


    #route{
    display: none;
   }
    

    .title{   
      z-index: 3; 
      height: 15px;
      width: 100%;
      
    }
    .title a{
      padding-left: 40px;
      position: relative;
      
    }

    
    .title a img{
      position: absolute;
      width: 85px;
      
    }
    .title a p{
      position: absolute;
      color:#fff;
      font-size: 24px;
      line-height: 30px;
      left: 70px;
      top:65px;
    }
    #menu{
      width: 0px;
      right: 0px;
      top:93px;      
    }
    .navbar-nav {
     position: static;
     width: 300px;
     margin-left: 0px;
     float: right;

   }
   .btn-5 a img{
     width: 50px;
     margin-left: -24px;
   }
   .btn-5 a p{
    font-size: 16px;
    margin-top: 37px;    
    line-height: 50px;

   }
   #content {
    height: 100%;
    
    }
   
   #backhome{
    position: fixed;
    top:0px;
    z-index: 3;
    height: 80px;
    width: 100%;
    background-color:rgb(191 159 122 / 58%);
    transition: top 0.5s; /* Transition effect when sliding down (and up) */
   }

   #logo img{
    display: block;
    margin:0 auto;
    width:280px; 
    padding: 5px;    
   }

   .c_center{
    margin: 0 auto;
    width: 800px;
   }
   .dogs{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 800px; 
    margin-top: 200px;
    margin-bottom: 100px;
   }


   .item{
    margin-bottom:  5px;
    width: 800px;
    text-align: center;
    flex-direction: column;
   }


   

   .item img{
    width: 750px;
    margin: 10px;
   }


   

   .item p{
    font-family: sans-serif ;
    text-align: left;
    line-height: 30px;
    margin: 20px;
     
   }

   .sTitle{
    color: #7c6e50;
    font-weight: bolder;

   }

   .dogs h3{
    width: 800px;
    height: 36px;
    line-height: 36px;
    text-align: right;
    border-bottom:5px solid #ba9f76;
    color: #ba9f76;
    letter-spacing: 2px;
   }

   .itemName{
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    text-align: right;
    color: #ba9f76;
    letter-spacing: 2px;
   }

   .btn{
    display: block;
    text-align: center;
    border: 2px solid #ba9f76;
    color: #ba9f76;
    line-height: 24px; 
   }
   .showmore{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content:center;
    width: 800px;
    margin-bottom: 30px;

   }
   .showmore div{
    width: 180px;
    height: 180px;
    background-color: #fff;
    margin: 10px 5px;

   }

   .readmore1, .readmore2{
    border-radius: 25px;
    background-color: #bc8548;
    padding: 10px;
    line-height: 30px;
    z-index: 4;
   }

   .readmore1 span, .readmore2 span{
     z-index: 4;
     color: #fff;
   }

   
   .rules1, .rules2{
    display: none;
   }


   #order{
    width:100px;
    height: 100px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    background-color:#883e38;
    border-radius: 30px;
    margin: 30px auto;
    margin-bottom: 50px;    
   }

   #order p{
    margin-top:18px;
   }

   .qAnda{
    text-decoration: underline;
    color: #bd5832;
   }

   .number{
    display:inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    line-height: 24px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    background-color: #a08260;


   }

   .btn-5 a p img{
    display: none;
   }

    .sampleImg{
      width: 750px;
      height: 750px;
      position: relative;
      margin-bottom: 50px;
      margin-top: 20px;

   }

   #showSample{
    width: 750px;
    position: absolute;
    z-index: 1;
    margin-left:-350px;
   }


   .zoom{
    width: 100px;
    height: 24px;
    position: absolute;
    z-index: 3;
    color: #846435;
    font-weight: bolder;
    left: 350px;
    top: 20px;
   }

   .zoom img{
    top:-8px;
    left: 86px;
    position: absolute;
    width: 20px;
   }

   #samples{
    position: absolute;
    z-index: 3;
    bottom: 10px;
    left: 360px;
   }

   #samples a{
    display: inline-flex;
    z-index: 3;
    margin-right: 5px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #ba9f76;

   }

   #samples a p{
    margin: 2px auto;
    color: #fff;

   }

  

   @media screen and (min-width: 900px) and (max-width: 1600px){
    
    

    
    

    .showmore, .btn,
    .c_center, .dogs, .dogs h3,.item, .item:hover{
     width: 700px;
    }

   

    .item img{
    width: 680px;    
    margin: 10px;
    
    }

    .sampleImg{
    width: 680px;
    height: 680px;
    }


    #showSample{
    width: 680px;
    margin-left:-340px;
   }

    .zoom{
    left: 290px;
   }


    .zoom img{
    width: 20px;
   }

   #samples{
    left: 300px;
    
   }

  

  .navbar-nav {    
      width: 240px;
    }

    
    #logo{
    width:240px; 
    
    
   }

  }

   @media screen and (max-width: 899px){


    .sampleImg{
    
    max-width: 680px;
    max-height: 100vw;
    width: 100%;
    margin: 0 auto;
    
    
    
    }


    #showSample{
    width: 100%;
    margin: 0 auto;
    left: 0px;
    
   }


   #samples{
    left:50%;
    margin-left:-31px;
    
    
   }

   #samples a {
    
    width: 24px;
    height: 24px;
    
   }

   #samples a p {
    margin: 0 auto;
    
}




    

    .dogs h3, .itemName{
    width: 280px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    
    }

    .item{
    flex-direction: column;
    width: 100%;

    
   }

   

   .item p{
    
    font-size: 14px;
    line-height: 24px;
    margin: 20px auto;
    z-index: 4;
     
   }

   .item img{
    width: 100%;
    margin: 0px;
   }

   .zoom{
    left: 5px;
   }

   .zoom img{  
    top:4px;  
    left: 95px;
    width: 20px;
    }


    .navbar-header {
      display: none;
    }


    .c_center{
     width: 100%;
    }

    .dogs{
     margin-top:70px;
     width: 100%;
     padding-top: 0px;
    }

    
    

    .title{ 
      height: 12px;  
    }

    .title a{
      display: none;
      padding-left: 5px;
    }

    
    .title a img{      
      width: 55px;
      
    }
    .title a p{
      font-size: 16px;
      line-height: 20px;
      left: 23px;
      top:41px;
      
    }
    
    #logo{
    position: static;
   }

   #logo img{
    width: 200px;
    margin: 10px auto;

   }

   #menu {
    position: static;
    width: 100%;
   }

   .navbar-nav { 
     width: 100%;
     flex-direction: row;
     background-color: #a08260;
      
    }

    .navbar-nav>li{
      display:inline-block;
      width: 100px;
      margin:0;
      text-align: center;
    }

    .navbar-nav>li:hover {
    transform: rotate(0deg);
    }

   .btn-5 a .bgtag{
    display: none;
   }

   .btn-5 a p {
    writing-mode: horizontal-tb;
    padding: 0;
    margin: 0;
    
   }

   .btn-5 a p img{
    display: block;
    width: 9px;
    margin-top: 13px;
    margin-left: -2px;
    
   }


   
  
   
    
    .readmore1, .readmore2 ,
    .btn,
    .showmore{
      width: 80%;
      margin: 0 auto;
    }

    .rules1{
      margin-top: 15px;

    }

    .rules2{
      width: 100%;

    }

    .rules2 p{
      width: 85%;
    }

    .rules2 img{
      width: 100%;
    }

   

    .showmore div{
    flex-direction: row;
    width: 70px;
    height: 70px;
    margin: 10px 2.5px;

   }

   #route{
    display: block;
    margin-left: 20px;
    padding-top: 200px;
   }

   #route a{
    padding: 5px 10px;
    background-color: #ded4c5;
    border-radius: 10px;
    color:  #8d704e;
    
   }

   #route span{
    font-size: 13px;
    color:  #a08260;

   }
   .sTitle{
    margin-left: 30px;
   }
   
}